<div class="feed-main">
  <div>
    <div id="feed-list" class="feed-list">
      <!-- Feed items will be loaded here by JS -->
    </div>
    <div id="feed-loader" class="feed-loader">Loading...</div>
  </div>
  <aside class="feed-rightbar">
    <%= render 'theories/who_to_follow' %>
    <%= render 'theories/top_picks' %>
  </aside>
</div>
<%= render 'shared/feeds_js' %>