<div class="dashboard-sources">
  <div class="dashboard-sources-items">
    <div class="dashboard-sources-item dashboard-sources-item--disabled" aria-disabled="true">
      <%= image_tag 'source.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Sources</span>
    </div>
    <div class="dashboard-sources-item dashboard-sources-item--disabled" aria-disabled="true">
      <%= image_tag 'quran.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Quran</span>
    </div>
    <div class="dashboard-sources-item dashboard-sources-item--disabled" aria-disabled="true">
      <%= image_tag 'bible.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Catholic Bible</span>
    </div>
    <div class="dashboard-sources-item dashboard-sources-item--disabled" aria-disabled="true">
      <%= image_tag 'newsource.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Add New Source</span>
    </div>
  </div>
</div>
