<div class="sort-divider-container">
 
  <div class="sort-divider-line"></div>
  
 
  <div class="sort-controls">
    <span class="sort-by-text">Sort by:</span>
    <div class="sort-dropdown">
      <span class="sort-option">Top</span>
      <%= image_tag 'mearrow.svg', alt: 'Arrow', class: 'sort-arrow' %>
    </div>
  </div>
</div>

