<div class="theories-top-picks">
  <h4>Top Picks</h4>
  <div class="tp-pick-item">
    <div class="tp-profile-section">
      <img src="/assets/default-avatar.png" class="tp-avatar" />
      <div class="tp-name-wrapper">
        <span class="tp-name">Jacob Jones</span>
        <%= image_tag 'blue-tick.svg', alt: 'Verified', class: 'tp-verified' %>
      </div>
    </div>
    <div class="tp-title">Submission and Obedience as Pathways to Divinity</div>
    <div class="tp-date">10 May, 2025</div>
  </div>
  <div class="tp-pick-item">
    <div class="tp-profile-section">
      <img src="/assets/default-avatar.png" class="tp-avatar" />
      <div class="tp-name-wrapper">
        <span class="tp-name">Jacob Jones</span>
        <%= image_tag 'blue-tick.svg', alt: 'Verified', class: 'tp-verified' %>
      </div>
    </div>
    <div class="tp-title">Submission and Obedience as Pathways to Divinity</div>
    <div class="tp-date">10 May, 2025</div>
  </div>
</div> 