<div class="theories-top-picks">
  <h4>Top Picks</h4>
  <div class="tp-user">
    <div class="tp-user-main">
      <img src="/assets/default-avatar.png" class="tp-avatar" />
      <span class="tp-name">Albert Flores <span class="tp-dot">•</span> <a class="tp-follow">Follow</a></span>
    </div>
    <div class="tp-title">Submission and Obedience as Pathways to Divinity</div>
    <div class="tp-date">10 May, 2025</div>
  </div>
  <div class="tp-user">
    <div class="tp-user-main">
      <img src="/assets/default-avatar.png" class="tp-avatar" />
      <span class="tp-name">Jacob Jones <i class="fa fa-check-circle tp-verified"></i></span>
    </div>
    <div class="tp-title">Submission and Obedience as Pathways to Divinity</div>
    <div class="tp-date">10 May, 2025</div>
  </div>
  <div class="tp-user">
    <div class="tp-user-main">
      <img src="/assets/default-avatar.png" class="tp-avatar" />
      <span class="tp-name">Savannah Nguyen <i class="fa fa-check-circle tp-verified"></i></span>
    </div>
    <div class="tp-title">Submission and Obedience as Pathways to Divinity</div>
    <div class="tp-date">10 May, 2025</div>
  </div>
  <div class="tp-show-more">Show more</div>
</div> 