<div class="theories-who-to-follow">
  <h4>Who to Follow</h4>
  <div class="wtf-user-wrapper">
    <div class="wtf-user">
      <div class="wtf-content-row">
        <img src="/assets/default-avatar.png" class="wtf-avatar" />
        <div class="wtf-info">
          <div class="wtf-name-wrapper">
            <span class="wtf-name">Mitchaly Carry</span>
            <%= image_tag 'blue-tick.svg', alt: 'Verified', class: 'wtf-verified' %>
          </div>
          <div class="wtf-description">
            <span>Islamic Scholar</span>
            <div class="wtf-dot"></div>
            <span>Top Religion Person</span>
          </div>
        </div>
      </div>
      <button class="wtf-follow-btn">+ Follow</button>
    </div>
  </div>
  <div class="wtf-user-wrapper">
    <div class="wtf-user">
      <div class="wtf-content-row">
        <img src="/assets/default-avatar.png" class="wtf-avatar" />
        <div class="wtf-info">
          <div class="wtf-name-wrapper">
            <span class="wtf-name">Mitchaly Carry</span>
            <%= image_tag 'blue-tick.svg', alt: 'Verified', class: 'wtf-verified' %>
          </div>
          <div class="wtf-description">
            <span>Islamic Scholar</span>
            <div class="wtf-dot"></div>
            <span>Top Religion Person</span>
          </div>
        </div>
      </div>
      <button class="wtf-follow-btn">+ Follow</button>
    </div>
  </div>
  <div class="wtf-user-wrapper">
    <div class="wtf-user">
      <div class="wtf-content-row">
        <img src="/assets/default-avatar.png" class="wtf-avatar" />
        <div class="wtf-info">
          <div class="wtf-name-wrapper">
            <span class="wtf-name">Mitchaly Carry</span>
            <%= image_tag 'blue-tick.svg', alt: 'Verified', class: 'wtf-verified' %>
          </div>
          <div class="wtf-description">
            <span>Islamic Scholar</span>
            <div class="wtf-dot"></div>
            <span>Top Religion Person</span>
          </div>
        </div>
      </div>
      <button class="wtf-follow-btn">+ Follow</button>
    </div>
  </div>
  <div class="wtf-user-wrapper">
    <div class="wtf-user">
      <div class="wtf-content-row">
        <img src="/assets/default-avatar.png" class="wtf-avatar" />
        <div class="wtf-info">
          <div class="wtf-name-wrapper">
            <span class="wtf-name">Mitchaly Carry</span>
            <%= image_tag 'blue-tick.svg', alt: 'Verified', class: 'wtf-verified' %>
          </div>
          <div class="wtf-description">
            <span>Islamic Scholar</span>
            <div class="wtf-dot"></div>
            <span>Top Religion Person</span>
          </div>
        </div>
      </div>
      <button class="wtf-follow-btn">+ Follow</button>
    </div>
  </div>
</div> 