<div class="theories-who-to-follow">
  <h4>Who to Follow</h4>
  <div class="wtf-user">
    <img src="/assets/default-avatar.png" class="wtf-avatar" />
    <div class="wtf-info">
      <span class="wtf-name">Wade Warren <i class="fa fa-check-circle wtf-verified"></i></span>
      <span class="wtf-meta">214 followers <span class="wtf-star">★ 4.7</span></span>
    </div>
    <button class="wtf-follow-btn">Follow</button>
  </div>
  <div class="wtf-user">
    <img src="/assets/default-avatar.png" class="wtf-avatar" />
    <div class="wtf-info">
      <span class="wtf-name">Wade Warren <i class="fa fa-check-circle wtf-verified"></i></span>
      <span class="wtf-meta">214 followers <span class="wtf-star">★ 4.7</span></span>
    </div>
    <button class="wtf-follow-btn">Follow</button>
  </div>
  <div class="wtf-user">
    <img src="/assets/default-avatar.png" class="wtf-avatar" />
    <div class="wtf-info">
      <span class="wtf-name">Wade Warren <i class="fa fa-check-circle wtf-verified"></i></span>
      <span class="wtf-meta">214 followers <span class="wtf-star">★ 4.7</span></span>
    </div>
    <button class="wtf-follow-btn">Follow</button>
  </div>
  <div class="wtf-show-more">Show more</div>
</div> 