<script>
  window.FEED_API_URL = '/theories/public_infinite';
  window.FEED_FILTER = '';
  window.FEED_TYPE = 'theories';
</script>
<div class="feed-main theories-page-main public-theories-page">
  <div class="theories-page-content">
    <header class="theories-page-header">
      <h1 class="theories-page-title">Theories</h1>
    </header>
    <div id="feed-list" class="feed-list">
    </div>
    <div id="feed-loader" class="feed-loader">Loading...</div>
  </div>
  <aside class="feed-rightbar facts-page-rightbar">
    <%= render 'facts/rightbar' %>
  </aside>
</div>
<%= render 'shared/theories_feeds_js' %>
