.sort-divider-container {
  position: fixed;
  top: 11.1875rem;
  left: 24.375rem;
  width: 100%;
  z-index: 1000;
  

  .sort-divider-line {
    position: absolute;
    width: 33.125rem;
    height: 0;
    top: 0.5rem;
    left: 0;
    border-top: 0.0625rem solid #D8D8D8;
    opacity: 1;
  }
  
  // Sort Controls
  .sort-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    
    .sort-by-text {
      position: absolute;
      width: auto;
      min-width: 2.5625rem;
      height: 1rem;
      top: 0;
      left: 33.8125rem;
      font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.5%;
      text-align: left;
      color: #919191;
      opacity: 1;
      white-space: nowrap;
    }
    
    .sort-dropdown {
      position: absolute;
      top: 0;
      left: 36.625rem; 
      cursor: pointer;
      
      .sort-option {
        position: absolute;
        width: 1.375rem;
        height: 1rem;
        top: 0;
        left: 0;
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0%;
        color: #171717;
        opacity: 1;
      }
      
      .sort-arrow {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        top: 0.125rem; 
        left: 1.875rem; 
        object-fit: contain;
        opacity: 1;
      }
    }
  }
}

